@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    color: #ffffff;
    padding: 10px 13px;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: "Dancing Script", serif;
}

.navbar .logo:hover {
    color: #e9e4e3;
    transform: scale(1.05);
    border-radius: 10px;
}

.logo {
    background: linear-gradient(currentColor 0 0) var(--p, 100%) 0,
                linear-gradient(currentColor 0 0) 0 var(--d, 0),
                linear-gradient(currentColor 0 0) var(--d, 0) 100%,
                linear-gradient(currentColor 0 0) 100% var(--p, 100%);
    background-size: var(--d, 0) 3px, 3px var(--d, 0);
    background-repeat: no-repeat;
    transition: 0.5s, background-position 0s 0.5s ease-out;
}

.logo:hover {
    --d: 100%;
    --p: 0%;
}

.menu-links {
    display: flex;
    gap: 10px;
}

.menu-links .menu-button {
    color: #f7eeee;
    text-decoration: none;
    font-family: "Dancing Script", serif;
}

.menu-links .btn {
    background: #401b0fcd;
    color: #fff;
    font-family: "Dancing Script", serif;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.menu-links .btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.menu-links .btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #401b0f;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #401b0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1d0c06;
}

.output {
    margin-top: 20px;
    padding: 10px;
    background: #eef;
    border: 1px solid #401b0f;
    border-radius: 5px;
}